[submodule "delight_backend"]
	path = delight_backend
	url = https://github.com/kkkirill/delight_backend
[submodule "delight_frontend"]
	path = delight_frontend
	url = git@github.com:kkkirill/delight_frontend.git
